<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>TUNETASTIC ADMIN HOME</title>
<link rel="stylesheet" type="text/css" th:href="@{/styles/adminhome.css}">
</head>
<body>
<div class="home-container">
        <h1>Welcome to TUNETASTIC Admin</h1>
        <p>Experience the best music streaming service.</p>
        <a href="newsong">ADD SONG</a>
        <a href="viewsongs">VIEW SONGS</a>
        <a href="createplaylist">CREATE PLAYLIST</a>
        <a href="viewplaylists">VIEW PLAYLISTS</a>
        <a href="logout">LOGOUT</a>
    </div>
</body>
</html>